<h1>Here's a Big List of Albums</h1>

<ul>
  <% @albums.each do |album| %>
  <li> <!-- We can feed link_to where we want it to go.  It then matches.   -->
    <%= link_to album.artist, "/#{album.artist}" %>: <%= album.title %>
  </li>
  <% end %>
</ul>
